/* Navbar.css */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li {
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    /* Metallic gold */
    transition: color 0.3s ease-in-out, transform 0.2s;
    display: block;
    padding: 10px;
    border-radius: 8px;
}

a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: pink;
}

a:hover {
    color: #ffffff;
    /* Bright metallic white */
    transform: scale(1.05);
    /* Slight zoom effect */
    background: rgba(255, 255, 255, 0.1);
    /* Soft highlight */
}