/* Navbar.css */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li {
    width: 100%;
    text-align: center;
}

.logout-btn {
    padding: 5px !important;
    padding-bottom: 10px !important;
}

a,
.logout-btn {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease-in-out, transform 0.2s;
    display: block;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: transparent;
}

/* Underline effect on hover (for links) */
a::after,
.logout-btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: pink;
    transition: width 0.3s ease-in-out;
}

a:hover::after,
.logout-btn:hover::after {
    width: 100%;
}

a:hover,
.logout-btn:hover {
    color: #ffffff;
    transform: scale(1.05);
}

a:active {
    color: pink;
}