.community-container {
    max-width: 80vw;
    margin: auto;
    color: white;
}

.community-container h1 {
    margin: 20px auto;
    font-size: 3rem;
}

body {
    width: 80vw;
    display: flex;
    justify-content: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    background: #222;
    padding: 15px;
    border-radius: 8px;
    width: 30vw;
}

.post-form textarea {
    width: 90%;
    height: 80px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid white;
    background: #333;
    color: white;
    resize: none;
    margin: 5px auto;
}

.post-form button {
    padding: 8px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.posts {
    margin-top: 30px;
}


.post {
    background: #222;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid white;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header div small {
    position: relative;
    top: -20px;
}

hr {
    width: 90%;
}

.pfp {
    width: 50%;
    height: 200px;
    border: 2px solid white;
    border-radius: 10%;
}

button {
    margin-top: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
}