section#about {
    max-width: 70%;
    margin: auto;
}

section#about p {
    font-size: large;
}

section#login {
    max-width: 70%;
    margin: auto;
}

section#emotions {
    margin: auto;
    max-width: 70%;
}

.emoji-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.emoji {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}