section#about {
    max-width: 70%;
    margin: auto;
    border: solid 1px white;
    border-radius: 20px;
    padding: 0 0 0 30px;
}

section#about p {
    font-size: large;
}

section#login {
    max-width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

section#emotions {
    margin: auto;
    max-width: 70%;
}

#bigText {
    font-size: 11rem;
    text-align: center;
    color: transparent;
    background-image: url('bg.jpg');
    background-size: stretch;
    background-clip: text;
    -webkit-background-clip: text;
    padding-bottom: 19px;
    animation: moveBackground 30s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0 30%;
    }

    50% {
        background-position: 100% 0;
        /* Move background to the right */
    }

    100% {
        background-position: 0 -30%;
        /* Reset to original position */
    }
}

.emoji-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.emoji {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
}

#login {
    position: relative;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    animation: border infinite ease-in;
}

#login {
    animation: border 2s infinite ease-in;
}

@keyframes border {
    0% {
        border: 1px solid white;
        box-shadow: 0 0 5px white;
    }

    50% {
        border: 1px solid black;
        box-shadow: 0 0 5px black;
    }

    100% {
        border: 1px solid white;
        box-shadow: 0 0 5px white;
    }
}